# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
.mypy_cache

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtualenv
.venv/
venv/
.env

# Pytest
htmlcov/
.coverage
.pytest_cache/
.uv-cache/

# Editor
.vscode/
.idea/

# OS
Thumbs.db
.DS_Store
